:root {
    --bg: #222;
    --fg: #fff;
    --button-bg: #333;
    --button-hover-bg: #444;
    --button-active-bg: #1e1e1e;
    --button-suggested-bg: deepskyblue;
    --button-suggested-hover-bg: skyblue;
    --button-suggested-active-bg: dodgerblue;
    --font: 'IBM Plex Sans', sans-serif;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: var(--font);
    background-color: var(--bg);
    color: var(--fg);
    
}

div.titlebar {
    width: calc(100% - 80px);
    height: 50px;
    padding: 10px 40px;
}

div.content {
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 0;
}

.float-right {
    float: right;
}

.vert-al-mid {
    vertical-align: middle;
}

button {
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--fg);
    padding: 10px 20px;
    font-family: var(--font);
}

* {
    user-select: none;
    outline: none !important;
    transition: background 0.3s, background-color 0.3s, color 0.1s;
    
}

button:hover {
    background-color: var(--button-hover-bg);
}

button:active {
    background-color: var(--button-active-bg);
}

button.suggested {
    background-color: var(--button-suggested-bg);
}

button.suggested:hover {
    background-color: var(--button-suggested-hover-bg);
}

button.suggested:active {
    background-color: var(--button-suggested-active-bg);
}

div.titlebar>button {
    height: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 5px 20px
}

div.header-image-holder {
    height: calc(100vh - 90px);
    background-color: var(--button-active-bg);
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/header-image-holder.png");
    overflow:scroll;
}

div.header-image-holder div.blur {
    position:static;
    top:0px;
    width:100%;
    height:100%;
    backdrop-filter: blur(30px);
    background-color: #0008;
}

div.header-image-holder div.main {
    position:static;
    top:0px;
    width:100%;
    height:max-content;
    backdrop-filter: blur(30px);
    background-color: #000a;
    padding:20px;
    min-height:100%;
}

div.header-image-holder div.blur>div.inner {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
}

h1.sub-header,
h2.sub-header,
h3.sub-header,
h4.sub-header,
h5.sub-header {
    margin:0;
    font-weight: 100;
}

.half-opacity {
    opacity: 0.5;
}

span.material-icons {
    font-size:18px;
    vertical-align: middle;
}

button.suggested span.material-icons {
    margin-right:5px;
}

::-webkit-scrollbar {
    display:none;
}

.bottom-center-absolute {
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0)
}

.center-text {
    text-align: center;
}

span.material-icons.big {
    font-size:24px;
}

.blink-half-opacity {
    animation: blink-half-opacity 1.25s infinite;
}

@keyframes blink-half-opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}
